
.form1{
    margin-top: 100px;
    max-width: 440px;
    min-width:400px ;
    border-radius: 10px;
    background-color: white;
    border: none;
    box-shadow: 10px 10px 40px rgba(179, 179, 179, 0.525);
}
